<h1>Programadores</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th colspan="3">Ações</th>
        </tr>
    </thead>

    <tbody>
        <% @programmers.each do |programmer| %>
            <tr>
                <td>
                    <%= programmer.id %>
                </td>
                <td>
                    <%= programmer.name %>
                </td>
                <td>
                    <%= link_to 'Mostrar', programmer_path(programmer), class: 'btn btn-primary' %>
                </td>
                <td>
                    <%= link_to 'Editar', edit_programmer_path(programmer), class: 'btn btn-warning' %>
                </td>
                <td>
                    <%= link_to t('delete'), programmer_path(programmer),
                    class: 'btn btn-danger', method: :delete,
                      data: {
                        title: t('attention'),
                        confirm: t('confirm_exclusion') + programmer.name + '?',
                        commit: t('delete'), cancel: t('cancel')} %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>
<br>
<%= link_to 'Novo Programmador', new_programmer_path, class: 'btn btn-primary' %>
