
<div class="form-group">
  <%= f.hidden_field 'programmer_ids[]', value: [] %>
  <%= f.label "Programadores:"%>
  <%= f.collection_check_boxes :programmer_ids, Programmer.all, :id, :name do |b| %>
    <div class="collection_check_boxes">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>
